* {
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 0.3px #ffffff;
  overflow-x: hidden;
}
.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  position: relative; /* Needed to position the pseudo-element */
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../Assets/logo.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4; /* Adjust the opacity value as needed */
  z-index: 0; /* Ensure the pseudo-element is behind the content */
}

.App-header > * {
  position: relative;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.myName {
  font-size: 30px;
  margin-top: 20px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
