.clock {
  margin-right: 0;
  margin-left: auto;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid #ff0000;
  border-radius: 50%;
}
.clock:hover {
  scale: +1.1;
  border: 8px solid rgb(165, 202, 0);
  transition: 1s;
  .number {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: #0062ff;
    font-weight: bolder;
  }
}
.number {
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  margin-left: 100px;
  margin-top: 100px;
  position: fixed;
  font-size: 20px;
  color: rgb(255, 242, 0);
  transform: translate(-50%, -50%);
}
.number:hover {
  -webkit-text-stroke: #ffffff;
  color: cyan;
}
.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  background-color: #333;
  transform-origin: 50% 100%;
}

.hour-hand {
  width: 6px;
  height: 50px;
  background-color: aliceblue;
  margin-bottom: 500px;
  top: 50%;
  left: 50%;
}

.minute-hand {
  width: 3px;
  height: 70px;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
}

.second-hand {
  width: 2px;
  height: 80px;
  top: 50%;
  left: 50%;
  background-color: red;
}

.center-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
