.buttons {
  width: 200;
  margin: 15px;
  padding: 5px 20px;
  border-width: 2px; /* Adjust the width of the border */
  background-color: transparent;
  border: 4px solid;
  background-color: rgb(177, 171, 171, 0.3);
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  border-image: linear-gradient(
    to right,
    #00ff33,
    #2ee5cd,
    #2eb7e5,
    #2e56e5,
    #862ee5
  ); /* Adjust the gradient colors */
  border-image-slice: 1; /* Use 1 to slice the entire border */
}
.buttons:hover {
  background-color: rgb(177, 171, 171, 0.5);
  transition: 1s;
}
.projectText {
  height: auto;
  width: 300px;
}
.projectNames {
  padding: 8px 20px;
  margin: 5px;
  background-color: rgba(178, 178, 178, 0.539);
  border-radius: 30px;
}
.projectNames:hover {
  background-color: rgb(177, 171, 171);
  transition: 1s;
}
.projects {
  display: flex;
  flex-direction: column; /* Default flex direction for small screens */

  @media (min-width: 768px) {
    flex-direction: row; /* Change flex direction to row for screens larger than 768px */
  }

  /* Add more media queries for other screen sizes if needed */
}

/* Add more styles as needed */
