/* src/App.css */
* {
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 0.3px #ffffff;
  overflow-x: hidden;
  animation: backwards;
}
.projects {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myName {
  font-family: "Nabla, sans-serif";
  font-display: initial;
  color: rgb(255, 251, 0);
  -webkit-text-stroke: 1.5px #000;
}
h1 {
  font-size: 45px;
  -webkit-text-stroke: 1.5px #7c7c7c;
}

.ImgHolder {
  margin-left: 0px;
  margin-top: 0px;
  position: flex;
  flex-direction: row;
}
.img:hover {
  height: 55px;
  width: 55px;
  transition: 0.75s;
}

.rdrs {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: auto;
  justify-content: space-between;
}
.redirects {
  font-size: 12px;
  height: 30px;
  width: auto;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  margin: 15px 50px;
  padding: 10px 30px;
  border-radius: 30px;
  font-family: monospace;
  background-color: rgba(189, 189, 189, 0.3);
  border: 1px solid #007bff;
}
.redirects:hover {
  background-color: #626262;
  color: white;
}

.img {
  margin: 10px;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  position: sticky;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.about,
.skills,
.contact {
  margin: 40px 0px;
  overflow-x: hidden;
  border-radius: 15px;
}
h2:hover {
  color: rgb(0, 211, 211);
  transition: 1s;
}
h2 {
  color: cyan;
  font-size: 45px;
  -webkit-text-stroke: 1.5px #000000;
}

.contact-section p {
  margin: 10px 0;
}

.contact-section a {
  color: #007bff;
  text-decoration: none;
}
* {
  text-align: center;
}

.content {
  position: relative;
  align-items: center;
  align-self: auto;
  width: 300px;
  height: 200px;
  border: 3px;
  border-style: double;
  border-color: rgb(39, 79, 0);
  margin: 50px;
}

.content:not(:last-child)::after {
  content: "";
  position: relative;
  top: 50%;
  right: 0;
  height: 50%;
  border-right: 1px solid #000; /* Adjust color and style as needed */
}

.contentText {
  color: rgb(255, 255, 255);
  font: 100;
  font-display: initial;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}
section {
  background-color: rgba(161, 161, 161, 0.4);
}
section:hover {
  background-color: rgba(194, 194, 194, 0.5);
  transition: 1s;
}
#englishGrammar {
  margin-left: 0px;
  background-size: cover;
  background-position: left;
}

#homePage {
  background-size: cover;
  background-position: center;
}
a {
  font-size: 14px;
  font-weight: bold;
  -webkit-text-stroke: 0.1px #000000;
}
.project {
  font-size: small;
  width: auto;
  height: auto;
  padding: 15px;
  margin: 15px;
  background-color: rgb(2, 126, 143, 0.5);
  box-shadow: 10px 5px 0px 0px;
  border-radius: 3%;
}
.project:hover {
  background-color: rgba(0, 112, 126, 0.8);
  color: rgb(255, 0, 0, 0.5);
  transition: 0.75s;
  font-weight: bold;
}
