/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#Iam {
  color: white;
  size: 25px;
  font-family: monospace;
}
.myName {
  font-family: "Courier New", Courier, monospace;
  font-display: initial;
  color: blue;
}
/* 
.clock {
  background-color: aliceblue;
  width: 20%;
  height: 20%;
} */

.App-header {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.ImgHolder {
  margin-left: 0px;
  margin-top: 0px;
  position: flex;
  flex-direction: row;
}

.img {
  margin: 10px;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}

.about-section,
.projects-section,
.skills-section,
.contact-section {
  padding: 40px 0;
}

h2 {
  color: #333;
}

.projects-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.projects-section li {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
}

.contact-section p {
  margin: 10px 0;
}

.contact-section a {
  color: #007bff;
  text-decoration: none;
}
* {
  text-align: center;
}

.content {
  position: relative;
  align-items: center;
  align-self: auto;
  width: 300px;
  height: 200px;
  border: 3px;
  border-style: double;
  border-color: rgb(39, 79, 0);
  margin: 50px;
}

.content:not(:last-child)::after {
  content: "";
  position: relative;
  top: 50%;
  right: 0;
  height: 50%;
  border-right: 1px solid #000; /* Adjust color and style as needed */
}

.contentText {
  color: black;
  font: 100;
  font-display: initial;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

#englishGrammar {
  margin-left: 0px;
  background-image: url("./englishGrammar.png");
  background-size: cover;
  background-position: left;
}

#homePage {
  background-image: url("./HomePage.png");
  background-size: cover;
  background-position: center;
}

.projectsContainer {
  /* border-right: ; */
  height: 450px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: left;
}
