/* src/App.css */
* {
  color: rgb(0, 0, 0);
  text-align: center;
  z-index: -4;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  white-space: nowrap;
}
.forBgImg {
  color: skyblue;
}
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.myName {
  font-family: "Courier New", Courier, monospace;
  font-display: initial;
  color: blue;
}

.App-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  p {
    color: rgb(255, 0, 0);
    size: 25px;
    font-family: monospace;
    font-weight: bolder;
  }

  h1 {
    color: rgb(181, 187, 0);
  }
}

.ImgHolder {
  margin-left: 0px;
  margin-top: 0px;
  position: flex;
  flex-direction: row;
}

.img {
  margin: 10px;
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
}

.about,
.projects,
.skills,
.contact {
  padding: 40px;
}

h2 {
  color: cyan;
}

.contact-section p {
  margin: 10px 0;
}

.contact-section a {
  color: #007bff;
  text-decoration: none;
}
* {
  text-align: center;
}

.content {
  position: relative;
  align-items: center;
  align-self: auto;
  width: 300px;
  height: 200px;
  border: 3px;
  border-style: double;
  border-color: rgb(39, 79, 0);
  margin: 50px;
}

.content:not(:last-child)::after {
  content: "";
  position: relative;
  top: 50%;
  right: 0;
  height: 50%;
  border-right: 1px solid #000; /* Adjust color and style as needed */
}

.contentText {
  color: rgb(255, 255, 255);
  font: 100;
  font-display: initial;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

#englishGrammar {
  margin-left: 0px;
  background-size: cover;
  background-position: left;
}

#homePage {
  background-size: cover;
  background-position: center;
}

.project {
  font-size: small;
  width: 330px;
  height: 320px;
  padding: 15px;
  margin: 15px;
  background-color: gray;
  box-shadow: 10px 5px 0px 0px;
  p {
    justify-content: start;
  }
}

@media (min-width: 767px) {
  .lineBreak {
    height: auto;
    width: 2px;
    margin: 15px;
    background-color: #000;
  }
}

@media (max-width: 766px) {
  .lineBreak {
    height: 2px;
    width: auto;
    margin: 15px;
    background-color: #000;
  }
}
